<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CartoWeb</servlet-name>
        <servlet-class>com.cartoweb.servlet.CartoWeb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultCarto</servlet-name>
        <servlet-class>com.cartoweb.servlet.ResultCarto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultRech</servlet-name>
        <servlet-class>com.cartoweb.servlet.ResultRech</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartoWeb</servlet-name>
        <url-pattern>/cartoweb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultCarto</servlet-name>
        <url-pattern>/resultcarto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultRech</servlet-name>
        <url-pattern>/resultrech</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglib.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
